.active{
    color:green;
    padding: 0 11px;
    border-bottom:1px solid green;
    opacity: 1 !important;
    font-weight: bold;

}

.showlink{
    display: none !important;
}

.showtitle{
    display: block !important;
}