<div>
  <div class="header" style="width: 100%;
  display: flex;
  align-items: center;
 flex-direction: column;
 justify-content: center;align-items: center;height: auto;background-color:#ddd">
    <span style="font-size:60px;"><i class="fas fa-smile-wink"></i></span>
    <span style="color: white">{{profile?.email}}</span>
    <span style="color: white">{{profile?.password}}</span>
    <span style="color: white">{{profile?.urlImage}}</span>
    <span style="color: white">{{profile?.name}}</span>
    <span style="color: white">{{profile?.describe}}</span>
  </div>
  <button type="button" [routerLink]="['/update-profile']" class="btn btn-outline-secondary" style="position: absolute;
 left: 70%;
 top: 19%;"><a><i
        class="fas fa-cog"></i></a>
    edit profile settings</button>
</div>

<div class=content style="width: 50%;margin-left: 200px;margin-top: 23px;height: 1000vh;">
  <div class="content-top" style="border-bottom: 1px solid #ddd">
    <span style="margin-right: 39px;
    opacity: 0.5;" id="yourFeed" #yourFeed [class.active]="isactive" (click)="onchange($event)">my
      article</span>
    <span style="opacity: 0.5;" [class.active]="!isactive" id="globalFeed" #globalFeed (click)="onchange($event)">favorite
      article</span>
  </div>
  <ng-container *ngIf="isactive == false;else elseBlock">
    <ul class="post" style="list-style: none;">
      <li *ngFor="let item of articles; let i = index; trackBy: trackByFn" class="new-post" style="border-bottom: 1px solid #ddd;display: flex">
        <div class="new-post" style="display: flex;flex-direction: column;width: 100%;">
          <div style="display: flex;align-items: center">
            <span style="width:40px;font-size:44px;color:#ddd"><i class="fas fa-smile-wink"></i></span>
            <div style="flex-grow: 1; margin-right: 30px;
            margin-left: 15px;
            margin-top: 16px;">
              <a [routerLink]="['/detail-profile']" style="margin-bottom: 0px;color: green">{{item?.author.username}}</a>
              <p style="color:#ddd">{{item?.createdAt}}</p>
            </div>
            <button type="button" class="btn btn-outline-success" style="height: 31px; "><i class="fas fa-heart"></i> 0</button>

          </div>
          <h3 [routerLink]="['/detail-article',item.slug]">{{item.title}}</h3>
          <p>{{item.description}}</p>
          <a href="#" [hidden]="isHidden" (click)="showPost($event,i)">Read more...</a>
          <p [class.show]="isShow" [hidden]="isShow">{{item?.slug}}
            <a (click)="disable()" style="color:darkgreen;cursor:pointer;border:1px solid #ddd">hidden content</a>
          </p>
        </div>
      </li>   
    </ul>

  </ng-container>
  <ng-template #elseBlock>
    <ul class="post" style="list-style: none;">
      <li *ngFor="let item of articles; let i = index; trackBy: trackByFn" class="new-post" style="border-bottom: 1px solid #ddd;display: flex">
        <div class="new-post" style="display: flex;flex-direction: column;width: 100%;">
          <div style="display: flex;align-items: center">

            <span style="width:40px;font-size:44px;color:#ddd"><i class="fas fa-smile-wink"></i></span>
            <div style="flex-grow: 1; margin-right: 30px;
            margin-left: 15px;
            margin-top: 16px;">
              <p style="margin-bottom: 0px;color: green">{{item?.author.username}}</p>
              <p style="color:#ddd">{{item?.createdAt}}</p>
            </div>
            <button type="button" class="btn btn-outline-success" style="height: 31px; "><i class="fas fa-heart"></i> 0</button>

          </div>
          <h3 [routerLink]="['/detail-article',item.slug]">{{item.title}}</h3>
          <p>{{item.description}}</p>
          <a href="#" [hidden]="isHidden" (click)="showPost($event,i)">Read more...</a>
          <p [class.show]="isShow" [hidden]="isShow">{{item?.slug}}
            <a (click)="disable()" style="color:darkgreen;cursor:pointer;border:1px solid #ddd">hidden content</a>
          </p>

        </div>

      </li>
      <!-- <li class="new-post" style="border-bottom: 1px solid #ddd">
          <div class="new-post" style="display: flex;flex-direction: column">
            <div style="display: flex;align-items: center">
  
              <span style="width:40px;font-size:44px;color:#ddd"><i  class="fas fa-smile-wink"></i></span>
              <div style="margin-right: 30px;
              margin-left: 15px;
              margin-top: 16px;flex-grow: 1">
                <p  style="margin-bottom: 0px;color: green">manhhung</p>
                <p style="color:#ddd">October 25,2018</p>
              </div>
              <button type="button" class="btn btn-outline-success" style="height: 31px; "><i class="fas fa-heart"></i> 1</button>
  
            </div>
            <h3 [routerLink]="['/detail-article',item.slug]" >{{item.title}}</h3>
            <p>{{item.description}}</p>
            <a href="#" [hidden]="isHidden"  (click)="showPost($event,i)">Read more...</a>
            <p [class.show]="isShow" [hidden]="isShow" >{{item?.slug}}
            <a (click)="disable()" style="color:darkgreen;cursor:pointer;border:1px solid #ddd">hidden content</a>
            </p>
            
        </div>
  
        </li> -->

    </ul>
  </ng-template>

</div>

<!-- <app-footer></app-footer> -->