<div>
  <div class="header" style="width: 100%;display: flex; align-items: center;flex-direction: column;justify-content: center;align-items: center;height: auto;background-color:#ddd">
    <!-- <ng-container  *ngIf="accessToken?.check_user"> -->
    <ng-container *appArticle="accessToken?.check_user">
      <span style="width:107px;height:107px;font-size:44px;color:#ddd"><img style="width: 100%; border-radius: 50%; height: 100%; object-fit: cover;object-position: 50% 50%;"
          [src]="accessToken?.inforUser?.image" alt=""></span>
      <span style="color: white">{{accessToken?.inforUser?.email}}</span>
      <span style="color: white">{{accessToken?.inforUser?.password}}</span>
      <span style="color: white">{{accessToken?.inforUser?.image}}</span>
      <span style="color: white">{{accessToken?.inforUser?.username}}</span>
      <span style="color: white">{{accessToken?.inforUser?.bio}}</span>
    </ng-container>
    <!-- <ng-container *ngIf="!accessToken?.check_user"> -->
    <ng-container *appArticle="!accessToken?.check_user">
      <span style="width:107px;height:107px;font-size:44px;color:#ddd"><img style="width: 100%; border-radius: 50%; height: 100%; object-fit: cover;object-position: 50% 50%;"
          [src]="accessToken?.inforMember?.image" alt=""></span>
      <span style="color: white">{{accessToken?.inforMember?.email}}</span>
      <span style="color: white">{{accessToken?.inforMember?.password}}</span>
      <span style="color: white">{{accessToken?.inforMember?.image}}</span>
      <span style="color: white">{{accessToken?.inforMember?.username}}</span>
      <span style="color: white">{{accessToken?.inforMember?.bio}}</span>
    </ng-container>

  </div>
  <button type="button" (click)="editProfile(accessToken?.inforUser?.username)" class="btn btn-outline-secondary" style="position: absolute;left: 70%;top: 19%;">
    <a><i class="fas fa-cog"></i></a>edit profile settings</button>
</div>

<ng-container *appArticle="accessToken.getToken()">
  <!-- <ng-container *ngIf="accessToken.token;else elseBlock"> -->

  <!-- <ng-container *appArticle="accessToken?.check_user"> -->
    <!-- <ng-container *ngIf="accessToken?.check_user;else elseUser" *appArticle="!accessToken?.check_user"> -->
    <div  class=content style="width: 50%;margin-left: 200px;margin-top: 23px;height: 1000vh;">
      <div *appArticle="accessToken?.check_user" class="content-top" style="border-bottom: 1px solid #ddd">
        <span  style="margin-right: 39px; opacity: 0.5;" id="yourFeed" #yourFeed [class.active]="isactive" (click)="onchange($event)">My
          Article</span>
        <span style="opacity: 0.5;" [class.active]="!isactive" id="globalFeed" #globalFeed (click)="onchange1($event,'favorited',currentUser?.username)">Favorite
          article</span>
      </div>
      <div *appArticle="!accessToken?.check_user" class="content-top" style="border-bottom: 1px solid #ddd">
          <span style="margin-right: 39px; opacity: 0.5;" id="yourFeed" #yourFeed [class.active]="isactive" (click)="onchange($event)">
            Article</span>
          <span style="opacity: 0.5;" [class.active]="!isactive" id="globalFeed" #globalFeed (click)="onchange1($event,'favorited',currentUser?.username)">Favorite
            article</span>
        </div>

      <ng-container *appArticle="!isactive">
        <!-- <ng-container *ngIf="!isactive;else elseBlock1"> -->
        <app-list-article [articles_private]="articles" (likeheart)="getlikeheart($event)" [like]="accessToken?.likeHeart" [body]="body" [username]="currentUser?.username" (updateUser)="getupdateUser($event)">
        </app-list-article>
      </ng-container>
      <ng-container *appArticle="isactive">
        <!-- <ng-template #elseBlock1> -->

        <app-list-article [articles_private]=" articles_private" (likeheart)="getlikeheart($event)" [body]="body" [like]="accessToken?.likeHeart"  [username]="currentUser?.username"
          (updateUser)="getupdateUser($event)"></app-list-article>


      </ng-container>
    </div>
  <!-- </ng-container> -->

  <!-- view infor other user -->
  <!-- <ng-container *appArticle="!accessToken?.check_user"> -->
    <!-- <ng-template #elseUser> -->

    <!-- <div class=content style="width: 50%;margin-left: 200px;margin-top: 23px;height: 1000vh;">
      <div class="content-top" style="border-bottom: 1px solid #ddd">
        <span style="margin-right: 39px; opacity: 0.5;" id="yourFeed" #yourFeed [class.active]="isactive" (click)="onchange($event)">
          Article</span>
        <span style="opacity: 0.5;" [class.active]="!isactive" id="globalFeed" #globalFeed (click)="onchange1($event,'favorited',currentUser?.username)">Favorite
          article</span>
      </div>
      <ng-container *appArticle="!isactive">
        <app-list-article [articles_private]="articles" (likeheart)="getlikeheart($event)"  [body]="body" [username]="currentUser?.username" (updateUser)="getupdateUser($event)"></app-list-article>
      </ng-container>
      <ng-container *appArticle="isactive">
        <app-list-article [articles_private]="articles_private" (likeheart)="getlikeheart($event)"  [body]="body" [username]="currentUser?.username"
          (updateUser)="getupdateUser($event)"></app-list-article>
      </ng-container>
    </div>

  </ng-container> -->
</ng-container>

<ng-container *appArticle="!accessToken.getToken()">

</ng-container>