<ng-container *appProfile="accessToken.getToken()">
  <div class=content style="width: 50%;margin-left: 200px;margin-top: 23px;height: 1000vh;">
    <div class="content-top" style="border-bottom: 1px solid #ddd">
      <span style="margin-right: 39px;opacity: 0.5;" id="yourFeed" #yourFeed [class.active]="isactive" (click)="onchange($event)">Your article</span>
      <span style="opacity: 0.5;" [class.active]="!isactive" id="globalFeed" #globalFeed (click)="onchange($event)">Global article</span>
    </div>
    <ng-container  *appProfile="!isactive">
        <!-- <ng-container *ngIf="!isactive;else elseBlock"> -->
      <app-list-article [articles_private]="articles"  [like]="accessToken?.likeHeart" (likeheart)="getlikeheart($event)"  [username]="currentUser?.username" [body]="body" (updateUser)="getupdateUser($event)"></app-list-article>
    </ng-container>

    <ng-container *appProfile="isactive">
      <app-list-article [articles_private]="articles_private"  [like]="accessToken?.likeHeart"  (likeheart)="getlikeheart($event)"  [username]="currentUser?.username" [body]="body" (updateUser)="getupdateUser($event)"></app-list-article>
    </ng-container>
  </div>
</ng-container>

<div class="wrap">
  <h3>popular Tags</h3>
  <div class="ticket" ><span class="circle"></span><a [routerLink]="['/home']" (click)="onSearch('tag','AngularJS')">AngularJS</a></div>
  <div class="ticket" ><span class="circle"></span><a [routerLink]="['/home']" (click)="onSearch('author','manhhung')">author manhhung</a></div>
  <div class="ticket" ><span class="circle"></span><a [routerLink]="['/home']" (click)="onSearch('author','hung2')">author hung2</a></div>
  <div class="ticket" ><span class="circle"></span><a [routerLink]="['/home']" (click)="onSearch('favorited','hung2')">favorite hung2</a></div>
  <div class="ticket" ><span class="circle"></span><a [routerLink]="['/home']" (click)="onSearch('limit',20)"> limit article</a></div>
  <div class="ticket" ><span class="circle"></span><a [routerLink]="['/home']" (click)="onSearch('offset',0)">skip number</a></div>
  <div class="ticket" ><span class="circle"></span><a [routerLink]="['/home']" (click)="onSearch('tag','football')">football</a></div>
  <div class="ticket" ><span class="circle"></span><a [routerLink]="['/home']">Design</a></div>
  <div class="ticket" ><span class="circle"></span><a [routerLink]="['/home']">CSS3</a></div>
  <div class="ticket" ><span class="circle"></span><a [routerLink]="['/home']">Development</a></div>
  <div class="ticket" ><span class="circle"></span><a [routerLink]="['/home']">CSS3</a></div>
  <div class="ticket" ><span class="circle"></span><a [routerLink]="['/home']">HTML5</a></div>
</div>

<ng-container *appProfile="!accessToken.getToken()">
  <div class=content style="width: 50%;margin-left: 200px;margin-top: 23px;height: 1000vh;">
    <div class="content-top" style="border-bottom: 1px solid #ddd">
      <span style="opacity: 0.5;" [class.active]="!isactive" id="globalFeed" #globalFeed (click)="onchange($event)">Global article</span>
    </div>
    <app-list-article [articles_private]="articles" [body]="body"></app-list-article>
  </div>
</ng-container>