<nav class="navbar navbar-expand-lg navbar-light bg-light" style="position: fixed;bottom: 0px;width: 100%;">
    <a class="navbar-brand" href="#" style="margin-left: 10px;color:green
    ">Conduit</a>
    <div class="collapse navbar-collapse navbar-wrap" style=""  id="navbarNavAltMarkup">
     
        <a class="nav-item nav-link disabled" href="#">Lorem ipsum dolor sit elit. Minus facere id impedit iusto ut, quis, iste odio dolores tempora eligendi quisquam at cum odit, quod vitae vero animi quam! Facilis!</a>
    </div>
  </nav>