<!-- <app-header-login></app-header-login> -->
<div class="container">
  <div class="row" style="padding-left: 342px;">
    <div class="col-md-6 col-lg-6 col-xs-6 col-sm-6 col-md-offset-4">
      <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
        <div class="form-group">
          <label for="username">Name</label>
          <input type="text" class="form-control" id="username" [(ngModel)]="acount.name" name="username" required
            minlength="5" #inputUserName="ngModel">
          <div class="alert alert-danger" *ngIf="!inputUserName.valid && (!inputUserName.pristine || userForm.submitted)">
            <small>Name is required and must have more than 5 characters</small>
          </div>
        </div>
        <!-- <div class="form-group">
        <label for="street">phone</label>
        <input type="text"  class="form-control" id="street" [(ngModel)]="acount.phone" name="phone" required minlength="10" #inputPhone="ngModel">
        <div class="alert alert-danger" *ngIf="!inputPhone.valid && (!inputPhone.pristine || userForm.submitted)">
          <small>phone isvalid</small>
        </div>
      </div> -->
        <div class="form-group">
          <label for="postcode">email</label>
          <input type="text" class="form-control" id="postcode" [(ngModel)]="acount.email" name="email" #inputEmail="ngModel">
        </div>
        <div class="form-group">
          <label for="postcode">password</label>
          <input type="text" class="form-control" id="postcode" [(ngModel)]="acount.password" name="password"
            #inputPassword="ngModel">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>