<!-- 
<div class="container">
  
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      
      <app-view-to-component [infor]="infor"></app-view-to-component>
      
      <app-count-click-button (countBtn)="getCount($event)"></app-count-click-button>
      <span [ngStyle]="{'margin-left.px':10}">{{count}}</span>
      <hr>
      <app-stop-timer [stop]="stop"></app-stop-timer>
      
      <button type="button" class="btn btn-danger" (click)="onClick()">stopTimer</button>
      <hr>
      <hr>
      <app-ng-for-list-data [events]="events"></app-ng-for-list-data>
      
      <app-safe-navigation></app-safe-navigation>
      <h2>how to use pipe</h2>
       <p>{{myText | lowercase}}</p>
       <p>{{myText1 | uppercase}}</p>

       <p>thời gian:</p>
       <p>{{thedate | date}}</p>
       <p>{{thedate | date:'dd/MM/y'}}</p>
       <p>{{thedate | date:'shortTime'}}</p>
       <p>{{thedate | date:'fullDate'}}</p>
      <h2>how to custom directive</h2>
      <p [appHoverDirective]="'green'">this is element p</p>
      <p *appBindToSecondProperty="ishidden">how to bind to sencond property</p>
      <h2>how to use hostbinding</h2>
      <p appHostbinding>this is how to use hosbinding</p>
      
      <div class="input-group">
        <input appHostbinding type="text" required>      
      </div>
      
      <button style="margin-top: 20px" appHoverDirective  type="button" class="btn btn-danger">button</button>
      
      
      
      <form action="" method="POST" role="form">
        <legend>Form title</legend>
      
        <div class="form-group">
          <label for="">label</label>
          <input type="text" class="form-control" id="" placeholder="Input field" [(ngModel)]=>
        </div>
      
        
      
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      
      
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>dau vao</th>
            <th>ket qua</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              
              <button type="button" class="btn btn-danger" (click)="onhandlechange(1)">tang</button>
              <button type="button" class="btn btn-danger" (click)="onhandlechange(-1)">giam</button>
              
              {{arrNumber}}
              {{sortvalue}}
            </td>
            <td>{{arrNumber | sortNumber:sortvalue}}</td>
          </tr>
        </tbody>
      </table>
      
    </div>
  </div>
  
</div> -->
<app-header></app-header>
<!-- <app-header-login></app-header-login> -->
<!-- <app-login></app-login> -->
<!-- <app-home-login></app-home-login> -->
<!-- <app-profile></app-profi'le> -->
<!-- <app-article></app-article> -->
<!-- <app-header-login></app-header-login> -->
<router-outlet></router-outlet>
<!-- <app-register></app-register>
<app-footer></app-footer> -->
<!-- <app-register></app-register> -->
<app-footer></app-footer> 
