<ul class="post" style="list-style: none;">
  <li *ngFor="let item of articles_private; let i = index; trackBy: trackByFn" class="new-post" style="border-bottom: 1px solid #ddd;display: flex">
    <div class="new-post" style="display: flex;flex-direction: column;width: 100%;">
      <div style="display: flex;align-items: center">
        <span style="width:44px;height:44px;color:#ddd"><img style="width: 100%;border-radius: 50%;height: 100%;object-fit: cover;object-position: 50% 50%;" [src]="item?.author?.image" alt=""></span>
       <div style="flex-grow: 1; margin-right: 30px; margin-left: 15px; margin-top: 16px;">
          <a (click)="viewProfile(item?.author.username)" style="margin-bottom: 0px;color: green">{{item?.author.username}}</a>
          <p style="color:#ddd">{{item?.createdAt|date :'dd/MM/y hh:mm:ss:a'}}</p>
        </div>
        <button type="button" class="btn btn-outline-success" style="height: 31px; " (click)="tha_tim(item.body,item.slug,i)"><i class="fas fa-heart"></i><span  >{{item?.favoritesCount}}</span></button>
      </div>
      <h4 class="title" [routerLink]="['/detail-article',item.slug]">{{item.title}}</h4>
      <p>{{item.description}}</p>
      <a id="readmore" [routerLink]="['/detail-article',item.slug]" style="display: block" >Readmore</a>
      <!-- <a href="#" [class.showlink]="isslug == item.slug" style="display: block" (click)="showPost($event,item.slug)">Read
        more...</a> -->
      <!-- <p [class.showtitle]="isShow == item.slug" [hidden]="show" style="display: none">{{item?.slug}}
        <a (click)="disable(item.slug)" style="color:darkgreen;cursor:pointer;border:1px solid #ddd">hidden
          content</a>
      </p> -->
    </div>
  </li>
</ul>