<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#" style="margin-left: 200px;color:green
    ">Conduit</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse navbar-wrap" style="margin-left:589px"  id="navbarNavAltMarkup">
      <div class="navbar-nav" style="display: flex;
      align-items: center;
      justify-content: space-around;
      width: 275px;">
        <a class="nav-item nav-link active" [routerLink]="['/home']">Home <span class="sr-only">(current)</span></a>
        <span style="display: flex;align-items: center">        
        <a><i class="fas fa-edit"></i></a>
        <li routerLinkActive="active" >
          <a class="nav-item nav-link active" [routerLink]="['/login']">Sign In</a>
        </li>
        </span>
        <span style="display: flex;align-items: center">        
            <a><i class="fas fa-edit"></i></a>
              <li routerLinkActive="active">
              <a class="nav-item nav-link active"  [routerLink]="['/signup']" >Sign Up</a>
            </li>
            </span>
      </div>
    </div>
  </nav>
  <div class="header" style="width: 100%;
 display: flex;
flex-direction: column;
justify-content: center;align-items: center;height: 186px;background-color:green">
  <h2 style="color: white">conduit</h2>
   <span style="color: white">A place to share your knowledge</span>
  </div>
