<!-- <ng-container *ngIf="accessToken?.token != null;else elseBlock"> -->
<!-- <ng-container *appAccess="islogin"> -->
<div *appAccess="accessToken.getToken()" id="login">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#" style="margin-left: 200px;color:green">Conduit</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">

      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse navbar-wrap" style="margin-left:589px" id="navbarNavAltMarkup">
      <div class="navbar-nav" style="display: flex;align-items: center;justify-content: space-around;width: 403px;">
        <a class="nav-item nav-link " routerLinkActive="active" [routerLink]="['/home']">Home </a>
        <!-- <a class="nav-item nav-link active"  (click)="viewUser()">inforUser <span class="sr-only">(current)</span></a> -->
        <span style="display: flex;align-items: center">
          <a><i class="fas fa-edit"></i></a>
          <a class="nav-item nav-link" [routerLink]="['/new-article']" routerLinkActive="active" (click)="onChange()">NewArticle</a>
        </span>
        <span style="display: flex;align-items: center">
          <a><i class="fas fa-cog"></i></a>
          <a class="nav-item nav-link"  routerLinkActive="active" (click)="viewProfile(accessToken?.inforUser?.username)">Settings</a>
        </span>
        <a *ngIf="accessToken?.inforUser?.username" class="nav-item nav-link" [routerLink]="['/profile',accessToken?.inforUser?.username]" routerLinkActive="active">{{username}}</a>
      </div>
    </div>
    <span style="display: flex;align-content: center;justify-content: center">
      <i class="fas fa-sign-out-alt" style="margin-top: 13px;margin-right: -14px;"></i>
      <a class="nav-item nav-link" style="cursor: pointer" (click)="logout()"> logout</a>
    </span>
  </nav>
  <div class="header" style="width: 100%;padding-left: 205px;display: flex;flex-direction: column;justify-content: center;height: 186px;background-color: #2c2d2d">
    <div class="header-first" style="display: flex; width: 56%;align-items: center;">
      <span style="width:107px;height:107px;font-size:44px;color:#ddd"><img style="width: 100%; border-radius: 50%; height: 100%; object-fit: cover;object-position: 50% 50%;" [src]="accessToken?.inforUser?.image" alt=""></span>
      <div style="    margin-right: 30px; margin-left: 15px;margin-top: 16px;">
        <p style="margin-bottom: 0px;color: white">{{accessToken?.inforUser?.username}}</p>
        <p style="color:#ddd">October 25,2018</p>
     </div>
    </div>
  </div>
</div>

<div *appAccess="!accessToken.getToken()">
  <nav class="navbar navbar-expand-lg navbar-light bg-light" id="nologin">
    <a class="navbar-brand" href="#" style="margin-left: 386px;color:green">Conduit</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse navbar-wrap" style="margin-left:589px" id="navbarNavAltMarkup">
      <div class="navbar-nav" style="display: flex;align-items: center; justify-content: space-around; width: 275px;">
        <a class="nav-item nav-link active" [routerLink]="['/home']">Home <span class="sr-only">(current)</span></a>
        <span style="display: flex;align-items: center">
          <a><i class="fas fa-edit"></i></a>
          <li routerLinkActive="active">
            <a class="nav-item nav-link active" [routerLink]="['/login']">Sign In</a>
          </li>
        </span>
        <span style="display: flex;align-items: center">
          <a><i class="fas fa-edit"></i></a>
          <li routerLinkActive="active">
            <a class="nav-item nav-link active" [routerLink]="['/signup']">Sign Up</a>
          </li>
        </span>
      </div>
    </div>
  </nav>
  <div class="header" style="width: 100%;display: flex;flex-direction: column;justify-content: center;align-items: center;height: 186px;background-color:green">
    <h2 style="color: white">conduit</h2>
    <span style="color: white">A place to share your knowledge</span>
  </div>
</div>
